<!-- 
  Developer : Nitisha Sharma
  Skype Id  : nsharma111
  File Name : change-password.html
  Purpose   : To change the password, when the user is logged in.
 -->

<ion-view cache-view="false">
  <!-- Header Bar Section Starts -->
  <div ng-include="header.url"></div>
  <!-- Header Bar Section Ends -->

  <ion-content class="has-header" scroll="false">
    <div class="offline_mode" ng-if="conStatus == 'none'">You are offline!</div>
    <!-- Title Section Goes Here -->
    <div class="inner_heading">
      Change Password
    </div>
    <!-- Profile Picture Section Starts -->

    <!-- Profile Picture Section Starts -->
    <div class="profile_section">
      <div class="padding">
        <img src="img/option_lg_{{userData.image_option_id}}.jpg" alt="Default WRP Profile">
      </div>
    </div>
    <!-- Profile Picture Section Ends -->
    <div class="password_info">
      <span> <i class="icon ion-information-circled placeholder-icon"></i>&nbsp;&nbsp;New password should contain a
        minimum of 8 and maximum of 16 characters with at least 1 uppercase, 1 lowercase, 1 numeric digit and no special
        characters.</span>
    </div>

    <!-- Blue Login Section Starts -->
    <div class="for-blue-band">
      <div class="bar bar-footer for-change">
        <div class="for_login getContentHeight">
          <div class="inner-green-band">
            <div class="list" id="form-div">
              <form name="ChangePasswordForm" class="ChangePasswordForm" novalidate="" ng-submit="change_password()">
                <div class="list list-inset">
                  <label class="item item-input"
                    ng-class="{'has-errors' : ChangePasswordForm.oldPassword.$invalid && ChangePasswordForm.oldPassword.$touched, 'no-errors' : ChangePasswordForm.oldPassword.$valid}">
                    <i class="icon ion-android-lock placeholder-icon password_lock_icon"></i>
                    <input class="input-box" type="password" name="oldPassword" id="oldPassword"
                      placeholder="Current Password" ng-model="ChangePasswordData.oldPassword" required>
                  </label>

                  <!-- ==================== FOR ERROR DIV ================== -->
                  <div class="error-container" ng-show="ChangePasswordForm.oldPassword.$error"
                    ng-messages="ChangePasswordForm.oldPassword.$error" ng-if="ChangePasswordForm.oldPassword.$dirty">
                    <div ng-message="required">Enter current password</div>
                  </div>
                  <!-- ==================== FOR ERROR DIV ================== -->
                </div>
                <div class="list list-inset">
                  <label class="item item-input"
                    ng-class="{'has-errors' : ChangePasswordForm.newPassword.$invalid && ChangePasswordForm.newPassword.$touched, 'no-errors' : ChangePasswordForm.newPassword.$valid}">
                    <i class="icon ion-android-lock placeholder-icon password_lock_icon"></i>
                    <input class="input-box custome-newpass" type="{{inputType_1}}" name="newPassword" id="newPassword"
                      placeholder="New Password" ng-model="ChangePasswordData.newPassword"
                      ng-pattern='/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/' maxlength="16" required>
                  </label>
                  <!-- ==================== FOR ERROR DIV ================== -->
                  <div class="error-container" ng-show="ChangePasswordForm.newPassword.$error"
                    ng-messages="ChangePasswordForm.newPassword.$error" ng-if="ChangePasswordForm.newPassword.$dirty">
                    <div ng-message="required">Enter new password</div>
                    <div ng-message="pattern">Follow the pattern mentioned</div>
                  </div>
                  <!-- ==================== FOR ERROR DIV ================== -->
                </div>
                <div class="list list-inset">
                  <label class="item item-input"
                    ng-class="{'has-errors' : ChangePasswordForm.confirmPassword.$invalid && ChangePasswordForm.confirmPassword.$touched, 'no-errors' : ChangePasswordForm.confirmPassword.$valid}">
                    <i class="icon ion-android-lock placeholder-icon password_lock_icon"></i>
                    <input class="input-box" type="{{inputType_2}}" id="confirmPassword" name="confirmPassword"
                      placeholder="Confirm Password" ng-model="ChangePasswordData.confirmPassword"
                      ng-pattern='/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/' maxlength="16"
                      compare-to="ChangePasswordData.newPassword" required>
                  </label>


                  <!-- ==================== FOR ERROR DIV ================== -->
                  <div class="error-container" ng-show="ChangePasswordForm.confirmPassword.$error"
                    ng-messages="ChangePasswordForm.confirmPassword.$error"
                    ng-if="ChangePasswordForm.confirmPassword.$dirty">
                    <div ng-message="required">Confirm password</div>
                    <div ng-message="pattern">Follow the pattern mentioned</div>
                    <div ng-message="compareTo">Passwords do not match</div>
                  </div>
                  <!-- ==================== FOR ERROR DIV ================== -->
                </div>
                <i id="eye_log_verify_1" ng-click="hideShowPassword('1')" class="{{eyeImg_1}}"></i>
                <i id="eye_log_verify_2" ng-click="hideShowPassword('2')" class="{{eyeImg_2}}"></i>

                <div class="row">
                  <div class="col">
                    <button class="button button-white"
                      ng-disabled="((!ChangePasswordData.oldPassword) || (!ChangePasswordData.newPassword) || (!ChangePasswordData.confirmPassword) || (ChangePasswordData.confirmPassword != ChangePasswordData.newPassword) || (conStatus == 'none'))">UPDATE</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blue Login Section Starts -->

  </ion-content>
</ion-view>